body {
    text-align: center;
    font: 1em "Trebuchet MS",Arial,sans-serif;
}

#logo-image {
    width: 180px;
    height: 173px;
}

header {
    margin-bottom: 100px;
}

#menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#menu li {
    display: inline;
}

#menu li a {
    padding: 10px 100px;
    background: #b0a0bf;
    color:black;
    border: 1px solid #b0a0bf;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
}

#menu li a:hover, #menu li a:focus, #menu li a:active {
    background: #785797;
    color: white;
}

#form-get-product #name {
    width: 50%;
}